@font-face {
  font-family: "Natasha";
  src: url("../fonts/Natasha.ttf"); }

@font-face {
  font-family: "Museo-100";
  src: url("../fonts/Museo Sans Cyrl 100.ttf"); }

@font-face {
  font-family: "Museo-300";
  src: url("../fonts/Museo Sans Cyrl 300.ttf"); }

@font-face {
  font-family: "Museo-900";
  src: url("../fonts/Museo Sans Cyrl 900.ttf"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.12em; }

body {
  margin: 0;
  padding: 0;
  font-size: 15px; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a {
  text-decoration: none; }
  a:hover {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.header__container, .about__container, .skills__container, .portfolio__container, .footer__container {
  width: 940px;
  margin: 0 auto; }

/*========= Header ==========*/
.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  color: #fff; }

.header {
  background: url("../img/main-bg.jpeg") no-repeat center;
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh;
  position: relative; }
  .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 0 0 0;
    font-size: 15px;
    font-family: 'Museo-900' , sans-serif; }
  .header__life {
    text-transform: uppercase;
    text-align: center; }
  .header__title {
    margin: 0;
    font-size: 49px;
    font-family: 'Natasha' , sans-serif;
    letter-spacing: 0.12em; }
  .header__text {
    margin: 20px 0;
    font-size: 29px;
    font-family: 'Museo-300' , sans-serif;
    letter-spacing: 0.12em; }
  .header__scroll {
    position: relative;
    width: 40px;
    height: 40px;
    color: #22241b;
    border: 1px solid #22241b;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 auto 50px auto; }
    .header__scroll:hover {
      background: #fff;
      color: #22241b;
      border: 1px solid rgba(0, 0, 0, 0); }
    .header__scroll:before {
      content: '';
      position: absolute;
      left: 18px;
      top: 20%;
      height: 20px;
      width: 1px;
      background: #22241b; }
    .header__scroll:after {
      content: '';
      position: absolute;
      left: 13px;
      top: 16px;
      width: 11px;
      height: 11px;
      border-bottom: 1px solid #22241b;
      border-right: 1px solid #22241b;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }

.logo__link {
  color: #fff;
  text-transform: uppercase; }

.logo__text {
  font-family: 'Museo-100' , sans-serif; }

.nav__link {
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  margin-right: 20px;
  border: 2px solid rgba(0, 0, 0, 0); }
  .nav__link:hover {
    border: 2px solid #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.nav_block {
  -webkit-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#0ba360), to(#3cba92));
  background: -webkit-linear-gradient(bottom, #0ba360 0%, #3cba92 100%);
  background: -o-linear-gradient(bottom, #0ba360 0%, #3cba92 100%);
  background: linear-gradient(to top, #0ba360 0%, #3cba92 100%); }

.mail__item {
  font-size: 13px;
  color: #fff;
  font-family: 'Museo-300' , sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0); }
  .mail__item:hover {
    border-color: #6d706d; }

.mobile-menu {
  display: none; }
  .mobile-menu__icon {
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer; }
  .mobile-menu__line {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
    .mobile-menu__line:nth-child(1) {
      top: 0; }
    .mobile-menu__line:nth-child(2) {
      top: 12px; }
    .mobile-menu__line:nth-child(3) {
      top: 12px; }
    .mobile-menu__line:nth-child(4) {
      top: 24px; }

.close {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50px;
  right: 30px;
  cursor: pointer; }
  .close__line:nth-child(1) {
    content: '';
    position: absolute;
    width: 3px;
    height: 30px;
    left: 15px;
    background: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .close__line:nth-child(2) {
    content: '';
    position: absolute;
    width: 3px;
    height: 30px;
    left: 15px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .close-display {
    display: block; }

/*========= about me ==========*/
.about_padding-top {
  padding-top: 90px; }

.about__title {
  font-size: 37px;
  color: #22241b;
  font-family: 'Natasha' , sans-serif;
  letter-spacing: 0.12em;
  margin: 0; }

.about__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px; }

.background_half-width {
  width: 45%;
  margin-right: 5%; }

.background__title {
  font-family: 'Natasha' , sans-serif;
  color: #888886;
  font-size: 22px;
  margin: 0;
  padding-bottom: 10px; }

.background__text {
  font-family: 'Museo-300' , sans-serif;
  line-height: 1.8em;
  margin-top: 27px;
  letter-spacing: 0.02em; }

.merits-contacts_half-width {
  width: 50%; }

.merits__title {
  font-family: 'Natasha' , sans-serif;
  color: #888886;
  font-size: 22px;
  margin: 0;
  padding-bottom: 10px; }

.merits__content {
  margin-top: 50px; }

.merits-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-family: 'Museo-100' , sans-serif;
  text-transform: uppercase; }
  .merits-content__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33%; }
  .merits-content__count {
    width: 70px;
    height: 70px; }
  .merits-content__text {
    font-size: 12px;
    text-align: center;
    margin-top: 36px; }

.count {
  font-size: 20px;
  color: #204d15;
  border: 1px solid #204d15;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 6px #fff, inset 0 0 0 7px #d6e2ce;
          box-shadow: inset 0 0 0 6px #fff, inset 0 0 0 7px #d6e2ce; }
  .count__text {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.merits-contacts__contacts {
  margin-top: 50px; }

.contacts {
  font-family: 'Museo-300' , sans-serif; }
  .contacts__title {
    font-family: 'Natasha' , sans-serif;
    color: #888886;
    font-size: 22px;
    margin: 0;
    padding-bottom: 10px; }
  .contacts__content {
    margin-top: 30px; }

.contacts-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contacts-content__item {
    width: 50%; }
    .contacts-content__item_column {
      width: 40%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .contacts-content__icon {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #eef1ed url(../img/user.png) no-repeat center center;
    -webkit-background-size: 30px 30px;
            background-size: 30px 30px; }
  .contacts-content__link {
    display: inline-block;
    color: #204d15;
    margin-bottom: 20px;
    border-bottom: 1px solid transparent; }
    .contacts-content__link:hover {
      border-bottom: 1px solid #6d706d; }
  .contacts-content__text {
    text-align: center;
    color: #797a77;
    margin: 10px 0 0 0; }

/*========= skills ==========*/
.skills_padding-top {
  padding-top: 90px; }

.skills__title {
  font-size: 37px;
  color: #22241b;
  font-family: 'Natasha' , sans-serif;
  letter-spacing: 0.12em;
  margin: 0; }

.skills__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.skills-item {
  padding: 0 15px 15px 15px; }
  .skills-item__image {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .skills-item__image_html {
      background-image: url(../img/sprite.png);
      background-position: 0px -100px;
      width: 100px;
      height: 100px; }
    .skills-item__image_css {
      background-image: url(../img/sprite.png);
      background-position: -200px 0px;
      width: 80px;
      height: 112px; }
    .skills-item__image_js {
      background-image: url(../img/sprite.png);
      background-position: -100px -100px;
      width: 100px;
      height: 100px; }
    .skills-item__image_sass {
      background-image: url(../img/sprite.png);
      background-position: 0px -200px;
      width: 100px;
      height: 74px; }
    .skills-item__image_gulp {
      background-image: url(../img/sprite.png);
      background-position: -100px 0px;
      width: 100px;
      height: 100px; }
    .skills-item__image_bootstrap {
      background-image: url(../img/sprite.png);
      background-position: -200px -112px;
      width: 80px;
      height: 80px; }
    .skills-item__image_git {
      background-image: url(../img/sprite.png);
      background-position: 0px 0px;
      width: 100px;
      height: 100px; }
    .skills-item__image:hover {
      -webkit-filter: none;
              filter: none;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }

/*========= portfolio ==========*/
.portfolio_padding-top {
  padding-top: 90px; }

.portfolio__title {
  font-size: 37px;
  color: #22241b;
  font-family: 'Natasha' , sans-serif;
  letter-spacing: 0.12em;
  margin: 0; }

.portfolio__list {
  margin-top: 55px; }

.works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .works__item {
    display: block;
    position: relative;
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    padding: 0 15px 15px 0; }
  .works__image {
    width: 100%;
    height: 100%; }

.overlay {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.56);
  color: #fff;
  top: 0;
  left: 0;
  width: -webkit-calc(100% - 15px);
  width: calc(100% - 15px);
  height: -webkit-calc(100% - 15px);
  height: calc(100% - 15px);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .overlay:hover {
    opacity: 1; }
  .overlay__title {
    font-family: 'Museo-900' , sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.02em; }

/*========= footer ==========*/
.footer__text {
  font-family: 'Museo-300' , sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  padding-bottom: 15px; }

.footer__link {
  color: inherit;
  border-bottom: 1px solid transparent; }
  .footer__link:hover {
    border-bottom: 1px solid #6d706d; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens 1200*/
@media screen and (max-width: 1200px) {
  .header__container, .about__container, .skills__container, .portfolio__container, .footer__container {
    width: 940px; } }

/* Medium Devices, Desktops  992*/
@media screen and (max-width: 992px) {
  .header__container, .about__container, .skills__container, .portfolio__container, .footer__container {
    width: 720px; }
  .about__content {
    display: block;
    width: 100%; }
  .merits-contacts_half-width {
    width: 100%; }
  .background {
    width: 100%;
    padding-bottom: 30px; }
    .background__text {
      margin-top: 16px; }
  .skills-item {
    width: 30%; }
    .skills-item__image {
      margin: auto; }
  .works__item {
    width: 50%; } }

/* Small Devices, Tablets 768*/
@media screen and (max-width: 768px) {
  .header__container, .about__container, .skills__container, .portfolio__container, .footer__container {
    width: 90%; }
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10; }
    .nav__link {
      font-size: 25px; }
  .mobile-menu {
    display: block; }
  .mail {
    display: none; }
  .about__content {
    margin-top: 30px; } }

/* Medium Devices, Desktops 480*/
@media screen and (max-width: 480px) {
  body {
    font-size: 14px; }
  .header__title {
    font-size: 40px; }
  .header__text {
    font-size: 20px; }
  .about_padding-top {
    padding-top: 40px; }
  .about__content {
    margin-top: 30px; }
  .about__title {
    font-size: 30px;
    text-align: center; }
  .skills-item {
    width: 50%; }
  .background__title {
    text-align: center; }
  .merits-contacts__contacts {
    margin-top: 30px; }
  .merits__content {
    margin-top: 30px; }
  .merits__title {
    text-align: center; }
  .contacts__title {
    text-align: center; }
  .merits-content__item {
    width: 100%;
    margin-bottom: 30px; }
  .contacts-content__item {
    width: 100%;
    text-align: center; }
    .contacts-content__item_column {
      display: none; }
  .skills_padding-top {
    padding-top: 30px; }
  .skills__list {
    margin-top: 30px; }
  .skills__title {
    font-size: 30px;
    text-align: center; }
  .portfolio_padding-top {
    padding-top: 30px; }
  .portfolio__list {
    margin-top: 30px; }
  .portfolio__title {
    font-size: 30px;
    text-align: center; }
  .overlay {
    width: 100%; }
  .works__item {
    width: 100%;
    padding-right: 0; } }
