@import "vars.sass"
@import "fonts.sass"
@import "mixin.sass"
@import "sprite.sass"

html
	box-sizing: border-box
	letter-spacing: 0.12em;

body 
	margin: 0
	padding: 0
	font-size: 15px

*, *:before, *:after 
	box-sizing: inherit

a 
	text-decoration: none
	&:hover
		transition: all 0.5s ease

%container 
	width: 940px
	margin: 0 auto


/*========= Header ==========*/
.header
	&__container 
		@extend %container
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100vh
		color: #fff

.header
	background: url('../img/main-bg.jpeg') no-repeat center
	background-attachment: fixed
	background-size: cover
	height: 100vh
	position: relative
	&__nav
		display: flex
		justify-content: space-between
		padding: 50px 0 0 0
		font-size: 15px
		font-family: 'Museo-900' , sans-serif
	&__life
		text-transform: uppercase
		text-align: center
	&__title
		margin: 0
		font-size: 49px
		font-family: 'Natasha' , sans-serif
		letter-spacing: 0.12em;
	&__text
		margin: 20px 0
		font-size: 29px
		font-family: 'Museo-300' , sans-serif
		letter-spacing: 0.12em;
	&__scroll
		position: relative
		width: 40px
		height: 40px
		color: $main-color
		border: 1px solid $main-color
		border-radius: 50%
		margin: 0 auto 50px auto
		&:hover
			background: $white
			color: $main-color
			border: 1px solid rgba(0,0,0,0)
		&:before
			content: ''
			position: absolute
			left: 18px
			top: 20%
			height: 20px
			width: 1px
			background: $main-color
		&:after
			content: ''
			position: absolute
			left: 13px
			top: 16px
			width: 11px
			height: 11px
			border-bottom: 1px solid $main-color
			border-right: 1px solid $main-color
			transform: rotate(45deg)
			
.logo
	&__link
		color: $white
		text-transform: uppercase
	&__text
		font-family: 'Museo-100' , sans-serif

.nav
	&__link
		color: $white
		text-transform: uppercase
		padding: 10px
		margin-right: 20px
		border: 2px solid rgba(0,0,0,0)
		&:hover
			border: 2px solid #fff;
			border-radius: 5px
	&_block
		transition: all 2s linear
		display: flex!important
		flex-direction: column
		justify-content: center
		align-items: center
		background: $main-color

.mail
	&__item
		font-size: 13px
		color: $white
		font-family: 'Museo-300' , sans-serif
		border-bottom: 1px solid rgba(0,0,0,0)
		&:hover
			border-color: rgba(109,112,109,1)

.mobile-menu
	display: none
	&__icon
		width: 35px
		height: 35px
		position: relative
		cursor: pointer
	&__line
		display: block
		position: absolute
		height: 3px
		width: 100%
		background: $white
		opacity: 1
		left: 0
		transform: rotate(0deg)
		&:nth-child(1)
			top: 0
		&:nth-child(2)
			top: 12px
		&:nth-child(3)
			top: 12px	
		&:nth-child(4)
			top: 24px

.close
	display: none
	width: 30px
	height: 30px
	position: absolute
	top: 50px
	right: 30px
	cursor: pointer
	&__line
		&:nth-child(1)
			content: ''
			position: absolute
			width: 3px
			height: 30px
			left: 15px
			background: $white
			transform: rotate(45deg)
		&:nth-child(2)
			content: ''
			position: absolute
			width: 3px
			height: 30px
			left: 15px
			background: $white
			transform: rotate(-45deg)
	&-display
		display: block


/*========= about me ==========*/
.about
	&__container 
		@extend %container
	&_padding-top
		padding-top: 90px
	&__title
		+section-title
	&__content
		display: flex
		margin-top: 70px

.background
	&_half-width
		width: 45%
		margin-right: 5%
	&__title
		+subsection-title
	&__text
		font-family: 'Museo-300' , sans-serif
		line-height: 1.8em
		margin-top: 27px
		letter-spacing: 0.02em

.merits-contacts
	&_half-width
		width: 50%

.merits
	&__title
		+subsection-title
	&__content
		margin-top: 50px

.merits-content
	display: flex
	justify-content: center
	flex-wrap: wrap
	font-family: 'Museo-100' , sans-serif
	text-transform: uppercase
	&__item
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		width: 33%
	&__count
		width: 70px
		height: 70px
	&__text
		font-size: 12px
		text-align: center
		margin-top: 36px


.count
	font-size: 20px
	color: $main-color
	border: 1px solid $main-color
	transform: rotate(45deg)
	display: flex
	justify-content: center
	align-items: center
	box-shadow: inset 0 0 0 6px $white, inset 0 0 0 7px $third-color
	&__text
		transform: rotate(-45deg)


.merits-contacts
	&__contacts
		margin-top: 50px

.contacts
	font-family: 'Museo-300' , sans-serif
	&__title
		+subsection-title
	&__content
		margin-top: 30px

.contacts-content
	display: flex
	justify-content: space-between
	&__item
		width: 50%
		&_column
			width: 40%
			display: flex
			flex-direction: column
			align-items: center
	&__icon
		width: 50px
		height: 50px
		border-radius: 50%
		background: $third-color url(../img/user.png) no-repeat center center
		background-size: 30px 30px
	&__link
		display: inline-block
		color: $second-color
		margin-bottom: 20px
		border-bottom: 1px solid transparent;
		&:hover
			border-bottom: 1px solid #6d706d
	&__text
		text-align: center
		color:#797a77
		margin: 10px 0 0 0


/*========= skills ==========*/
.skills
	&__container 
		@extend %container
	&_padding-top
		padding-top: 90px
	&__title
		+section-title
	&__list
		display: flex
		justify-content: center
		align-items: center
		margin-top: 60px
		flex-wrap: wrap
	
.skills-item
	padding: 0 15px 15px 15px
	&__image
		filter: grayscale(100%)
		transition: all 0.5s ease
		&_html
			@include sprite($html5)
		&_css
			@include sprite($-c-s-s3)
		&_js
			@include sprite($js)
		&_sass
			@include sprite($sass)
		&_gulp
			@include sprite($gulp)
		&_bootstrap
			@include sprite($bootstrap)
		&_git
			@include sprite($git)
		&:hover
			filter: none
			transition: all 0.5s ease


/*========= portfolio ==========*/
.portfolio
	&__container 
		@extend %container
	&_padding-top
		padding-top: 90px
	&__title
		+section-title
	&__list
		margin-top: 55px;

.works
	display: flex
	flex-wrap: wrap
	&__item
		display: block
		position: relative
		width: calc(100% / 3)
		padding: 0 15px 15px 0
	&__image
		width: 100%
		height: 100%
.overlay
	opacity: 0
	position: absolute
	background: rgba(0,0,0,0.56)
	color: #fff
	top: 0
	left: 0
	width: calc(100% - 15px)
	height: calc(100% - 15px)
	transition: all 0.5s ease
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	&:hover
		opacity: 1
	&__title
		font-family: 'Museo-900' , sans-serif
		color: $white
		text-transform: uppercase
		letter-spacing: 0.02em

/*========= footer ==========*/
.footer
	&__container 
		@extend %container
	&__text
		font-family: 'Museo-300' , sans-serif
		text-transform: uppercase
		font-size: 11px
		padding-bottom: 15px;
	&__link
		color: inherit
		border-bottom: 1px solid transparent;
		&:hover
			border-bottom: 1px solid #6d706d

//ALWAYS END
@import "media.sass"